NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_SITE_NAME="Nông nghiệp TTC"
NEXT_PUBLIC_FREE_SHIPPING=500000
NEXT_PUBLIC_MIN_ORDER=300000
NEXT_PUBLIC_SOCIAL_FACEBOOK=https://www.facebook.com/nongnghiepxanhTTC
NEXT_PUBLIC_SOCIAL_MESSENGER=https://m.me/108520260558644
NEXT_PUBLIC_SOCIAL_ZALO=https://zalo.me/0559588666
NEXT_PUBLIC_COMPANY_PHONE=0559.588.666
NEXT_PUBLIC_COMPANY_EMAIL=congtyttc.bg@gmail.com
NEXT_PUBLIC_COMPANY_ADDRESS="Tân Sơn, Quỳnh Sơn, Thành phố Bắc Giang, Bắc Giang, Việt Nam"
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_LOCALE=vi-VN
NEXT_PUBLIC_CURRENCY=VND
NEXT_PUBLIC_BANK_NAME="Ngân hàng Nông nghiệp"
NEXT_PUBLIC_BANK_ACCOUNT=123456789
NEXT_PUBLIC_BANK_HOLDER="Nông nghiệp TTC"
API_INTERNAL_URL=http://api:8080
